.widget-container {
    background-color: #F3CF55;
    width: 100%;
    max-width: 500px;
    padding: 24px;
    color: #333333;
    font-weight: lighter;
    font-size: 14px;
}

.widget-container > h4 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}